<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            CyberShield Academy
        {% endblock %}
    </title>

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet"
    >

    <link rel="stylesheet"
href="{{ url_for('static', filename='css/index.css') }}">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/navbar.css') }}">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/hero.css') }}">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/training.css') }}">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/reports.css') }}">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>

    <!-- Global Background -->
    <div class="bg-glow"></div>

    <!-- Navbar -->
    {% include 'components/navbar.html' %}

    <!-- Page Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    {% include 'components/footer.html' %}

</body>
</html>