<header class="navbar">

    <div class="logo">
        <span class="shield">🛡</span>
        CyberShield Academy
    </div>

    <nav>

        {% if session.get('user_id') %}
        <a href="/dashboard">Dashboard</a>
        <a href="/courses">Training</a>
        <a href="/labs">Labs</a>
        <a href="#">Programs</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        {% else %}
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        {% endif %}

    </nav>


    {% if session.get('user_id') %}
    <button class="nav-btn" onclick="window.location.href='{{ url_for('logout') }}'">
        Logout
    </button>
    {% else %}
    <button class="nav-btn" onclick="window.location.href='{{ url_for('register') }}'">
        Get Started
    </button>
    {% endif %}

</header>